.carousel-inner .active.left {
  left: -33%;
}

.carousel-inner .next {
  left: 33%;
}

.carousel-inner .prev {
  left: -33%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.item:not(.prev) {
  visibility: visible;
}

.item.right:not(.prev) {
  visibility: hidden;
}

.rightest {
  visibility: visible;
}


/* end of custom css */

#why.section {
  padding: 0px !important;
  height: 400px !important;
}

/* media query for partners setion  */

@media (max-width: 479px) {
  #why.section {
    padding: 0px !important;
    height: 300px !important;
  }
}

section#features {
  padding: 0px !important;
}

#about-info.section {
  padding: 10px !important;
  background-color: rgb(63, 81, 181);
  color: black;
}

#benefits h1 {
  color: white;
}

#counter.section {
  padding: 0px !important;
  background-color: white;
}

.row.contents {
  margin-right: 10px;
}

.navbar, .navbar.fees, .navbar.skills {
  box-shadow: none;
}


/* About section */

.about-area {
  background: url(../img/header2.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: rgba(21, 140, 226, 0.46);
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
  background-blend-mode: overlay;
}

.about-area .sticky-navigation {
  background: transparent;
}

.about-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.about-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .about-area {
    padding: 280px 0;
  }
  /* .about-area h1 {
   font-size: 100px !important;
   font-weight: 200;
 } */
  #about-title h1 {
    font-size: 200px !important;
    font-weight: 100;
  }
}

#about-title h1 {
  font-size: 70px !important;
  font-weight: 100;
  color: white;
}

.about p {
  font-size: 17px;
}

.career-area {
  background: url(../img/car.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: #00FFFF;
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
}

.career-area .sticky-navigation {
  background: transparent;
}

.career-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.career-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.career-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .career-area {
    padding: 280px 0;
  }
  /* .career-area h1 {
    font-size: 100px !important;
    font-weight: 200;
  } */
  #about-title h1 {
    font-size: 200px !important;
    font-weight: 100;
  }
}

#about-title h1 {
  font-size: 70px !important;
  font-weight: 100;
  color: white;
}

.rounded-circle {
  border-radius: 50%;
}


/* developer */

.developer-area {
  background: url(../img/WorkCubeHeaderimage.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: #3f51b5;
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
  background-blend-mode: overlay;
}

.developer-area .sticky-navigation {
  background: transparent;
}

.developer-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.developer-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.developer-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .developer-area {
    padding: 280px 0;
  }
}


/* skills */

.skills-area {
  background: url(../img/header1.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
  background-blend-mode: overlay;
}

.skills-text {
  font-size: 19px;
}

.skills-area .sticky-navigation {
  background: transparent;
}

.skills-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.skills-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.skills-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .skills-area {
    padding: 280px 0;
  }
  /* .skills-area h1 {
    font-size: 100px !important;
    font-weight: 200;
  } */
}


/* fees section */

.fees-area {
  background: url(../img/header3.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
  background-blend-mode: overlay;
}

.fees-area .sticky-navigation {
  background: transparent;
}

.fees-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.fees-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.fees-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .fees-area {
    padding: 280px 0;
  }
  /* .skills-area h1 {
    font-size: 100px !important;
    font-weight: 200;
  } */
}


/* Quote Area */

.quote-area {
  background: url(../img/header3.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
  background-blend-mode: overlay;
}

.quote-area .sticky-navigation {
  background: transparent;
}

.quote-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.quote-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.quote-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .quote-area {
    padding: 280px 0;
  }
  /* .quote-area h1 {
    font-size: 100px !important;
    font-weight: 200;
  } */
}


/* Random styling */

.make-caps {
  font-size: 20px;
  font-weight: 300px;
  color: red;
}


/*  caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
 } */

span.border {
  background-color: #111;
  color: #fff;
  padding: 8px;
  /* font-size: 25px; */
  /* letter-spacing: 10px; */
  border-radius: 15px;
}

.parallax {
  /* The image used */
  background-image: url("../img/Slider 3.jpg");
  /* Set a specific height */
  min-height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: overlay;
}

.benefit-header {
  color: white !important;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.benefit-desc {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 500 !important;
  font-size: 14px;
}

.text-custom {
  color: white;
}


/* offerings section */

.offering-area {
  background: url(../img/header3.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
  background-blend-mode: overlay;
}

.offering-area .sticky-navigation {
  background: transparent;
}

.offering-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
}

.offering-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.offering-area .contents .btn {
  margin: 15px;
}

@media (min-width: 1200px) {
  .offering-area {
    padding: 280px 0;
  }
  /* .offering-area h1 {
    font-size: 100px !important;
    font-weight: 200;
  } */
}

.offering-title, .skills-text {
  font-weight: 400;
}

#button2 {
  background-color: rgba(132, 178, 63, 0.65);
}

table#table-cus td {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  padding: .75rem !important;
  width: 100vw;
}

#table-cus th {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  padding: .75rem !important;
}

section#Explanation {
  padding: 20px;
}


/* #Explanation {
  background-color: rgba(57, 57, 61, 0.89); 
  color: white;
} */

.sample-img {
  padding: 20px;
}

#trainer .col-sm-6.col-xs-6.mb-r {
  width: 50% !important;
  float: left !important;
}

@media (min-width: 992px) {
  #trainer .col-sm-6.col-xs-6.mb-r {
    width: 50% !important;
    float: left !important;
  }
}


/* More incoming */

/* Global */
 

img { max-width:100%; }

a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}



section#skills{
    border-top:0;
    background:#c4e17f;
    background-image:-webkit-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-moz-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:-o-linear-gradient(left,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4);background-image:linear-gradient(to right,#c4e17f,#c4e17f 12.5%,#f7fdca 12.5%,#f7fdca 25%,#fecf71 25%,#fecf71 37.5%,#f0776c 37.5%,#f0776c 50%,#db9dbe 50%,#db9dbe 62.5%,#c49cde 62.5%,#c49cde 75%,#669ae1 75%,#669ae1 87.5%,#62c2e4 87.5%,#62c2e4)
}

.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px
}

/* Page Header */
/* .page-header {
    background: #f9f9f9;
    margin: -30px -40px 40px;
    padding: 20px 40px;
    border-top: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
}
    
.page-header h3 {
    line-height: 0.88rem;
    color: #000;
}

ul.thumbnails { 
    margin-bottom: 0px;
} */



/* Thumbnail Box */
/* .caption h4 {
    color: #444;
}

.caption p {  
    color: #999;
} */



/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}




/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}


li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

section#testimonial {
  height: 470px;
}

.partner {
  color : black;
}

#main-features{
  padding: 0px;
}

#main-features h2.partner {
  padding: 30px 0 10px 0;
  font-size: 40px;
  line-height: 70px;
  margin-top: 0px;
  font-weight: 100;
}

fieldset#hire {
  padding: 40px;
  border: 5px solid rgba(20, 20, 204, 0.56);
}

.badge.custom {
  background-color: #4CAF50;
}

#table-cus.hire-table td{
  font-weight:400!important;
}
.badge.custom1 {
  background-color: #D64444;
}

#makeblack {
  border: 4px solid #D64444;
}

.makeblack {
  border: 2px solid black;
}

h2.customHead {
  font-weight: 300;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 34px;
}
