.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

/* end of custom css */


#why.section {
 padding: 0px !important;
}

#about-info.section {
 padding: 10px !important;
 background-color: rgb(63, 81, 181);
 color: black;
}
#benefits h1{
 color: white;
}


#counter.section{
 padding: 0px !important;
 background-color: white;
}

.row.contents{
 margin-right: 10px;
}
.navbar{
 box-shadow: none;
}

/* About section */

.about-area {
 background: url(../img/about-image-2.jpg) no-repeat;
 background-size: cover;
 background-position: center bottom;
 background-color:#00FFFF;
 color: #fff;
 overflow: hidden;
 padding: 90px 0;
 max-height: 70vh;
}

.about-area .sticky-navigation {
 background: transparent;
}

.about-area .contents h1 {
 font-size: 40px;
 font-weight: 100;
}

.about-area .contents p {
 font-size: 16px;
 font-weight: 400;
 text-transform: uppercase;
}

.about-area .contents .btn {
 margin: 15px;
}

@media (min-width: 1200px) {
 .about-area {
   padding: 280px 0;
 }
 /* .about-area h1 {
   font-size: 100px !important;
   font-weight: 200;
 } */
 #about-title h1{
   font-size: 200px !important;
   font-weight: 100;
 }
}

#about-title h1{
 font-size: 70px !important;
 font-weight: 100;
 color: white;
}


.about p{
 font-size: 17px;
}



.career-area {
  background: url(../img/car.jpg) no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-color:#00FFFF;
  color: #fff;
  overflow: hidden;
  padding: 90px 0;
  max-height: 70vh;
 }
 
 .career-area .sticky-navigation {
  background: transparent;
 }
 
 .career-area .contents h1 {
  font-size: 40px;
  font-weight: 100;
 }
 
 .career-area .contents p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
 }
 
 .career-area .contents .btn {
  margin: 15px;
 }
 
 @media (min-width: 1200px) {
  .career-area {
    padding: 280px 0;
  }
  /* .career-area h1 {
    font-size: 100px !important;
    font-weight: 200;
  } */
  #about-title h1{
    font-size: 200px !important;
    font-weight: 100;
  }
 }
 
 #about-title h1{
  font-size: 70px !important;
  font-weight: 100;
  color: white;
 }
 